* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
}

.top-bar {
    width: 100%;
    display:flex;
 margin-top:0px;
    background-color: goldenrod; 
     justify-content: center;
  align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  
}

.top-bar h1 {
    padding-top: 10px;
    padding-bottom:10px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    text-decoration: underline;
    text-decoration-color: red;
}



button{
    background-color: goldenrod;
    border-radius:30px;
    font-size:14px;
    font-weight:bold;
    border-color: goldenrod;
    padding-left: 10px;
}
.grid-container {
    display: flex;
    flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap:30px;
}
.item {
    container-type: inline-size;
    padding:0px;
    overflow: hidden;
    display:flex;
    flex-direction:column;
    align-items:center;
    border: 15px solid red;
box-sizing: content-box; 
    width:400px;
    height:350px;
}
.item a img {
    display: block ;
    width: 400px;
    height: 300px;
    object-fit: fill;
}
.item  a{
    display: flex;
    flex-direction: column;
 height:350px;
   background-color: yellowgreen;
    border-radius: 0px;
    color:aliceblue;
container-type:inline-size;
    text-align: center;
    width: 400px;
    padding:0px;
        overflow: hidden;
}

.item a p{
      font-size: calc(1vw + 1.5vh);
  max-height: 100%;
  overflow-y: auto;
    line-height: 1.2;
    height:50px;
    margin:0px;
    white-space: normal;
  word-break: break-word;
  overflow-wrap: anywhere;
}